body {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  h1 {
    color: rgb(0, 0, 0);
    font-size: 600%;
    }

  h2 {
    color: rgb(0, 0, 0);
    font-weight:600 ;
    font-size: 175%
  }

  h3 {
    color: rgb(0, 0, 0);
    font-weight:450;
  }

  p {
    color: rgb(0, 0, 0);
  }

   /* unvisited link */
  a:link {
    color: rgb(168, 9, 154);
    text-decoration: underline;
  }

  /* visited link */
  a:visited {
    color: rgb(168, 9, 154);
    text-decoration: underline;
  }

  /* mouse over link */
  a:hover {
    color: rgb(255, 2, 128);
    text-decoration: underline;
  }

  /* selected link */
  a:active {
    color: blue;
    text-decoration: underline;
  } 

  li {
    color: rgb(0, 0, 0);
  }

  #header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  table,
td {
  border: 3px solid #000000;
}

tfoot {
  background-color: #000000;
  color: #fff;
}