body {
  background-image: linear-gradient(to top, #cf8747, #f0ad64);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family:sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

img {
  filter: drop-shadow(#000000 2px 2px 2px);
}

.big-shadow {
  font-size: 600%;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
  background: #868686;
  background: linear-gradient(to bottom right, #6e3d03 1%, #dc851b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(4px 4px 2px #333);
}


.center {
  text-align: center;
  font-size: 250%;
}

.mini-center {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

.shadow {
  text-shadow:1px 1px 2px #000000 ;
}

h2 {
  color: rgb(0, 0, 0);
  font-weight:600 ;
  font-size: 175% ;
  text-decoration: underline;
}

h3 {
  color: rgb(0, 0, 0);
  font-weight:450;
}

p {
  color: rgb(0, 0, 0);
}

a {
  text-shadow:1px 1px 2px #000000 ;
}

/* unvisited link */
a:link {
  color: rgb(139, 111, 232);
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: rgb(139, 111, 232);
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: rgb(255, 2, 128);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgb(169, 0, 67);
  text-decoration: underline;
} 

li {
  color: rgb(0, 0, 0);
}

#header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

table {
  border: 3px solid black;
  table-layout: fixed;
  width: 600px;
}

td {
  border: 2px solid black;
  overflow: hidden;
}

tfoot {
  background-color: #000000;
  color: #fff;
}

.competences {
  margin-left: auto;
  margin-right: auto;
}

.github {
  text-align: center;
  font-size:xx-large;
  font-weight: bolder;
}