@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    background-color: #353535;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.nom, h2 {
    font-family: 'Abril Fatface', serif;
}

section {
    line-height: 5px;
}

section li {
    line-height: 25px;
}

.cv, footer {
    font-size: xx-large;
    padding-bottom: 25px;
}

.skills img {
    text-shadow: 1px 1px 1px black;
    height: 50px;
    width: 50px;
}