body {
    background-color: rgb(104, 3, 109);
  }
  h1 {
    color: rgb(169, 169, 236);
  }
  p {
    color: rgb(216, 155, 155);
  }
   /* unvisited link */
  a:link {
    color: red;
  }

  /* visited link */
  a:visited {
    color: rgb(254, 76, 239);
  }

  /* mouse over link */
  a:hover {
    color: rgb(255, 2, 128);
  }

  /* selected link */
  a:active {
    color: blue;
  } 